<!DOCTYPE html>
<html>
<head>
    <title>RabbitMQ消息测试页面</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<input type="text" id="msg">
<button onclick="sendMsg()">发送Topic消息</button>
<hr/>
<input type="text" id="msg2">
<button onclick="sendMsg2()">发送Reply消息</button>
</body>
<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script>
    console.log($);

    function sendMsg() {
        $.ajax({
            url: '/api/message/send/topic',
            type: 'post',
            dataType: 'json',
            data: {
                message: $('#msg').val()
            },
            success: function () {
                console.log('success');
            }
        })
    }

    function sendMsg2() {
        $.ajax({
            url: '/api/message/send/reply',
            type: 'post',
            dataType: 'json',
            data: {
                message: $('#msg2').val()
            },
            success: function () {
                console.log('success');
            }
        })
    }

</script>
</html>
